body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center; 
    height: 50px;
    background: linear-gradient(to bottom, black, blue);

}

.fix{
    display: flex;
    justify-content: space-evenly;
    gap: 50rem;
    position: fixed;   
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;   
    gap: 10px;
    padding-left: 50px;
}
header button{
    background-color: white;
    border: none;
    font-size: 15px;
    width: 180px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px; 
    font-weight: 600; 
    cursor: pointer;
}
header button:hover{
    box-shadow: 0 0 20px white;
}
header a{
    color: rgb(40, 40, 233);
    text-decoration: none ;
}
header h1{
    color: white;
    line-height: 0px;
    font-family: system-ui;
}
header h3{
    color: white;
    text-align: center;
    line-height: 0px;
    font-family: system-ui;
}
.second{
    background: linear-gradient(to bottom, blue, black);
}
.about img{
    background-color: blue;
    border-radius: 30px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 60px;
}
.about h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.about p{
    color: white;
    font-size: 20px;
}
.third{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 35px;
}
.thirdly{
    background: linear-gradient(to bottom, rgb(5, 3, 3),  blue);
    padding: 1px;
}
.thirdly h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 70px;
}
.third img{
    border-radius: 30px;
}
.third h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 1px;
}
.third p{
    color: white;
    font-size: 20px;
    line-height: 25px;
}
footer{
    min-height: 50px;
}
footer p{
    margin-top: 50px;
    color: rgba(185, 169, 169, 0.404);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 0px;
  
}
footer p:hover{
    color: white;
}

@media (max-width: 768px){
    .logo{
        gap: 10px;
        padding-left: 6px;
    }
    header{
        display: flex;
        justify-content: flex-start;
        padding: none;
        text-align: center; 
    }
    .fix{
       flex-direction: row;
        gap: 1rem;
        position: fixed;  
    }
    .about{
        flex-direction: column;
        align-items: start;
        padding: 30px;
        gap: 50px;
    }
    .about h1{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
    }
    .about p{
        color: white;
        font-size: 20px;
        width: 400px;
    }
    .about img{
        background-color: blue;
        border-radius: 30px;
        text-align: start;
    }
    .third{
        flex-direction: column;
        align-items: start;
    }
    .thirdly{
        background: linear-gradient(to bottom, rgb(5, 3, 3),  blue);
        padding: 1px;
    }
    .thirdly h1{
        text-align: start;
        font-size: 42px;
        padding: 30px;
        padding-top: 70px;
    }
    .third h3{
        font-size: 40px;
    }
    .third p{
        color: white;
        font-size: 20px;
        line-height: 25px;
        width: 500px;
    }
    footer p{
        text-align: start;
        padding: 30px;
        font-family: Arial, Helvetica, sans-serif;  
    }
}