body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.first{
   background-image: url(dark_blue_gradient_background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
  
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center; 
}

.fix{
    display: flex;
    justify-content: space-evenly;
    gap: 30rem;
    position: fixed;   
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;   
    gap: 10px;
    padding-left: 50px;
}
header button{
    background-color: white;
    border: none;
    font-size: 15px;
    width: 180px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px; 
    font-weight: 600; 
    cursor: pointer;
    margin-left: 300px;
}
header button:hover{
    box-shadow: 0 0 20px white;
}
header a{
    color: rgb(40, 40, 233);
    text-decoration: none ;
}
header h1{
    color: white;
    line-height: 0px;
    font-family: system-ui;
}
header h3{
    color: white;
    text-align: center;
    line-height: 0px;
    font-family: system-ui;
}
.hero h1{
    color: white;
    font-family: Helvetica;
    text-align: center;
    font-size: 50px; 
    padding-top: 50px;
    padding-left: 350px;
    padding-right: 350px;
    font-weight: 900;
    
}
.hero p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px; 
    padding-left: 350px;
    padding-right: 350px; 
}
.hero button{
    background-color: rgb(13, 13, 255);
    border: none;
    width: 180px;
    height: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    margin-left: 650px;
    cursor: pointer;
}
.hero a{
    text-decoration: none;
    color: white;
}
.hero button:hover{
    box-shadow: 0 0 20px white;
}
.rating{
    margin-top: 70px;
    text-align: center;
    line-height: 0px;
    padding-bottom: 40px;
}
.rating p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;   
}
.testimonial{
    padding: 30px;
    padding-top: 4rem;
    background: linear-gradient(to bottom, black, blue);
}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.test p{
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}
.hey{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: white;
    line-height: 20px;
    margin-left: 35px ;
}

.speech, .text, .voice, .language{
    background-color: white;
    padding-top: 20px; 
    width: 300px;
    height: 280px;
    text-align: center;
    border-radius: 10px;
    transition: ease 1000ms;
    cursor: pointer;
    column-gap: 60px;
}
.speech:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px;
    margin-top: 3px;
}
.text:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px;
    margin-top: 3px;
}
.voice:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px;
    margin-top: 3px;
}
.language:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px;
    gap: 40px;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: white;
}
.write-up h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 20px;   
}
.write-up p{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 

}
.second button{
    background-color: rgb(1, 1, 87);
    border: none;
    width: 180px;
    height: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: ease 1000ms;
    
}
.second a{
    text-decoration: none;
    color: white;
    width: 30px;
}
.second button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px;
    
}
.image{
    position: relative;
    padding-top: 100px;
    padding-bottom: 0px;
    margin-top: 10px;
    background-color: rgb(1, 1, 87);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 400px;
    height: 416px;
}
.dashed{
    position: absolute;
    width: 410px;
    height: 530px;
    border-style: dotted;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    left: 50.5rem;
    top: 43rem;
   
}
.reviewing{
    background: linear-gradient(to bottom, blue, black);
    padding-top: 150px;
}
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;    
}
.reviews h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 20rem;
    height: 15rem;
    line-height: 15rem;
}
.reviews p{
    width: 20rem;
    height: 15rem;
    color: white;
    font-size: 25px;
    line-height: 2.5rem;  
}
.rev{
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    /* padding-top: 10rem; */
    line-height: 0px;
}
.scan h5{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: white;
    line-height: 10px;
}
.scanning{
   display: block;
   margin: auto;
   background-color: white;
   border-radius: 30px;
   width: 400px;
}
.vox{
    display: block;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 0 10px white
}
.vox:hover{
    box-shadow: 0 0 20px white;
}
footer{
    min-height: 50px;
}
footer p{
    margin-top: 50px;
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 0px;
  
};


.last span{
    color: rgba(185, 169, 169, 0.404);
}
.scan{
    padding-top: 30px;
    background: linear-gradient(to bottom, black, blue);

}


@media (max-width: 768px){
    .first{
        background: linear-gradient(to bottom, black, blue);
       
    }
    .logo{
        gap: 10px;
        padding-left: 10px;
    
    }
    header{
        display: flex;
        justify-content: flex-start;
        padding: none;
        text-align: center;

    }
    .speech, .text, .voice, .language{
        background-color: white;
        padding-top: 20px; 
        width: 300px;
        height: 280px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        column-gap: 16rem;
    }
    .speech:hover{
        /* gap: 10rem; */
        margin-top: 30rem;
    }
    .text:hover{
        margin-top: 3px;
    }
    .voice:hover{
        margin-top: 3px;
    }
    .language:hover{
        margin-top: 3px;
    }
    .fix{
       flex-direction: column;
        gap: 1rem;
        /* position: fixed;   */
    }
    .hero h1{
        font-size: 40px; 
        padding-top: 120px;
        padding-left: 20px;
        margin: auto; 
        display: flex;
       margin-left: 90px;
    }
    .hero button{
        width: 180px;
        height: 50px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        border-radius: 10px;
        margin-left: none;
        cursor: pointer;
    }
    header button{
        font-size: 15px;
        width: 130px;
        height: 50px;
        margin-left: 120px;
    }
    .hero p{
        font-size: 45px; 
        padding-left: 10px;  
        margin-left: 100px;
    }
    .hero button{
        margin-left: 100px;
        cursor: pointer;
    }
    .rating{
        margin-top: 50px;
        text-align: start;
        padding: 30px;
        padding-bottom: 5px;
        margin-left: 90px;
    }
    .second{
        flex-direction: column; 
        align-items: start;
    }
    .second button{
        margin-left: 90px;
    }
    .write-up h1{
        font-size: 40px; 
        display: block;
        text-align: center;
        line-height: 30px;
        
    }
    .write-up p{
        padding-left: 10px;     
        font-size: 20px; 
        text-align: center;
    }
    .image{
        position: relative;
        padding-top: 100px;
        padding-bottom: 0px;
        padding-right: 20px;
        margin-top: 10px;
        background-color: rgb(1, 1, 87);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 400px;
        height: 416px;
    }
    .dashed{
       display: none;
    }
    .testimonial{
        padding: 20px;
        /* margin-top: 17rem; */
        background: linear-gradient(to bottom, black, blue);
        
    }
    .test{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    
    }
    /* .test{
        margin: 20px;
        display: block;
        margin: auto;
        column-gap: 25rem;
    } */
    .test p{
        font-size: 20px;
        font-weight: 500;
        padding: 20px;
    }
    .reviews{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        padding: 1rem;   
    }
    
    .rev{
        text-align: start;
        font-size: 3rem;
        line-height: 40px;   
    }
    .scan h5{
        text-align: start;
        font-size: 3rem; 
        line-height: 40px; 
    }
    .scanning{
        display: flex;
        align-items: start;
        text-align: start;
        background-color: white;
        border-radius: 30px;
        width: 200px;
     }
    /* .scan{
        text-align: start;
    } */
    footer p{
        text-align: start;
        padding: 30px;
        font-family: Arial, Helvetica, sans-serif;  
    }
    .hey{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: white;
        line-height: 60px;
        margin-left: 35px ;
    }
   
  

}
