body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.first{
   background-image: url(gradient_2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
  
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
  
}
.fix{
    display: flex;
    justify-content: space-evenly;
    gap: 50rem;
    position: fixed;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;   
    gap: 10px;
    padding-left: 50px;
}
header button{
    background-color: white;
    border: none;
    font-size: 15px;
    width: 180px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px; 
    font-weight: 600; 
    cursor: pointer;
}
header button:hover{
    box-shadow: 0 0 20px white;
}
header a{
    color: rgb(40, 40, 233);
    text-decoration: none ;
}
header h1{
    color: white;
    line-height: 0px;
    font-family: system-ui;
}
header h3{
    color: white;
    text-align: center;
    line-height: 0px;
    font-family: system-ui;
}
.hero h1{
    color: white;
    font-family: Helvetica;
    text-align: center;
    font-size: 50px; 
    padding-top: 50px;
    padding-left: 350px;
    padding-right: 350px;
    font-weight: 900;
    
}
.hero p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px; 
    padding-left: 350px;
    padding-right: 350px; 
}
.hero button{
    background-color: rgb(13, 13, 255);
    border: none;
    width: 180px;
    height: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    margin-left: 600px;
    cursor: pointer;
}
.hero a{
    text-decoration: none;
    color: white;
}
.hero button:hover{
    box-shadow: 0 0 20px white;
}
.rating{
    margin-top: 70px;
    text-align: center;
    line-height: 1px;
}
.rating p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;   
}
.testimonial{
    margin-top: 10rem;
}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* text-align: center; */

}
.test p{
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}
.hey{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: white;
    line-height: 20px;
   margin-left: 35px ;
}

.speech, .text, .voice, .language{
    background-color: white;
    padding-top: 20px; 
    width: 300px;
    height: 280px;
    text-align: center;
    border-radius: 10px;
}
.second{
    display: flex;
   justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 150px;
    
}
.write-up h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 20px;   
}
.write-up p{
    color: white;
    font-size: 25px; 

}
.image{
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 3rem;
    
}
.reviews h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 20rem;
    height: 15rem;
    line-height: 15rem;
}
.reviews p{
    width: 20rem;
    height: 15rem;
    color: white;
    font-size: 25px;
    line-height: 2.5rem;  
}
.rev{
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    padding-top: 10rem;
    line-height: 0px;
}
.scan h5{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: white;
    line-height: 10px;
}
.scanning{
   display: block;
   margin: auto;
   background-color: white;
   border-radius: 30px;
}
.vox{
    display: block;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 0 10px white
}
.vox:hover{
    box-shadow: 0 0 20px white;
}
footer{
    min-height: 50px;
}
footer p{
    margin-top: 50px;
    color: rgba(185, 169, 169, 0.404);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 0px;
  
}
footer p:hover{
    color: white;
}

.last span{
    color: rgba(185, 169, 169, 0.404);
}
