body{
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    color: #333;
    text-align: center;
    padding: 20px;
    background-image: url(ODURA10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px ;
    border-radius: 10px;
}
.container h1{
    background-color: blue;
    color: white;
    min-width: 300px;
    min-height: 50px;
    padding-top:15px ;
    border-radius: 20px;
    text-align: center;
}
.container h2{
    color: blue;
}
.container button{
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.stt button:disabled{
    background: #ccc;
    cursor: not-allowed;
}
.stt button:hover:not(:disabled){
    background: rgb(6, 6, 170);
}
#transcript{
    border: 1px solid #ccc;
    padding: 15px;
    background: #f9f9f9;
    min-height: 100px;
}
textarea{
    width: 95%;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

label{
    line-height: 2rem;
    width: 300px;
    font-size: 20px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
select{
    border-color: rgb(0, 0, 80);
    background-color: rgb(218, 227, 240);
    border-radius: .7rem;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    width: 170px;
    height: 30px;
    cursor: pointer;
    padding-left: 10px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30rem;
    padding: 10px;
    line-height: 3px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.try a{
    color: blue;
    border: none;
}
nav button{
    background-color: white;
    border: none;
    font-size: 15px;
    width: 150px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px; 
    font-weight: 600; 
    cursor: pointer;
    color: blue;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600; 
    border: 2px solid white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover{
    background-color: white;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-weight: 600; 
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background: linear-gradient(to bottom, blue, black);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}

@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }  
}
@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }  
}